<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%X{requestId}] %-5level %logger{36}.%M:%L - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
        <!-- 各应用按实际情况自行定义相关类的输出级别 -->
        <AsyncLogger name="com.foresee" level="DEBUG" />
		<AsyncLogger name="com.foresee.icap.common" level="INFO" />
		<AsyncLogger name="com.ibatis" level="INFO"/>
		<AsyncLogger name="java.sql" level="DEBUG"/>
	    <AsyncRoot  level="INFO" includeLocation="true">
	      <AppenderRef ref="Console"/>
	    </AsyncRoot>
  </Loggers>
</Configuration>